@import 'https://fonts.gmirror.org/css?family=PT-Mono|Open+Sans+Condensed:300';

/*global*/
a {
    color: inherit;
}

a:hover {
    color: black;
}

ul {
    list-style: circle inside;
}

hr {
    color: lightgrey;
}

code, kbd, pre, samp {
    font-family: 'PT Mono', Courier New, Courier, monospace;
    font-size: 90%;
}

pre {
    padding-left: 2em;
}

/*utils*/
.minor {
    font-size: 80%;
    color: lightgrey;
    margin: 0;
    padding: 0;
}
.minor p {
    padding: 0;
    margin: 0;
}

#banner {
    margin-left: 1em;
    font-family: 'Open Sans Condensed', Verdana, Geneva, Tahoma, sans-serif;
}

#banner a {
     text-decoration: none;
}

#banner li#sitename {
    font-size: 150%;
    font-weight: bold;
}

nav {
    background-color: inherit;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    font-size: 80%;
    text-transform: uppercase;
    display: inline-block;
}

nav li.active a:after{
    content: '\25C2';
    margin-left: 3px;
}

.body {
    max-width: 700px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


.entry-title {
    font-size: 150%;
    text-transform: uppercase;
}

.entry-title a {
    text-decoration: none;
}

.post-info {
    font-size: 80%;
    color: lightgrey;
}

.post-info p {
    margin: 0;
    padding: 0;
}

.entry-content>p:last-child:after {
       content: "\2597";
}

#extras {
    font-size: 80%;
    color: lightgrey;
    padding-top: 3em;
    padding-bottom: 1em;
}

.extra-title {
    margin: 0;
    padding: 0;
}

.blogroll {
    float: left;
    margin-right: 3em;
}

.blogroll ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hentry {
    clear: left;
    padding-top: 0.5em;
}

.hentry-date {
    float: left;
    padding-right: 1em;
    font-size: 60%;
    text-align: center;
}

.hentry-title {
    font-size: 120%;
    font-weight: normal;
}

.pagination {
    clear: left;
    padding-top: 1em;
}

footer#contentinfo {
    clear: left;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 80%;
    color: lightgrey;
}

ol#posts-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}